extends layout

block content
  div.container
    h1= title
    .row
      .col-md-6
        .card
          .card-header Monitor Details
          .card-body
            form(id='MonitorForm', action="/resource/monitor", method="POST")
              div.form-group
                label.costumeAttr(for='monitor_type' class='form-label') Monitor type
                br
                input#monitor_type(class='form-control' type='text', name='model')
                br
              div.form-group
                label.costumeAttr(for='size' class='form-label') Monitor size
                br
                input#size(class='form-control' type='text', name='screen_size')
                br
              div.form-group
                label.costumeAttr(for='cost' class='form-label') Monitor cost
                br
                input#cost(class='form-control' type='number', name='price')
                br
              input(type="submit")
    script.
      document.forms['MonitorForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error)
        });
      });
